@model iBlog.Models.PostViewModel

@{
    ViewBag.Title = string.Format("{0} || page {1}", Model.BlogName.ToLower(), Model.CurrentPageNumber);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any)
{
    <div>there are no posts in the page entered.</div>
}

@foreach (var post in Model.PostItems)
{
    @Html.Partial("Post", post)
}