@using iBlog.Application
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.LoadThemeStyles(Html.Action("GetTheme", "Blog").ToString())
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
