@model iBlog.Domain.Entities.PostEntity

<script type="text/javascript">
    $(function () {
        var url = document.location.href;
        if (url.indexOf('comment-successed') >= 0) {
            var commentsTop = $('#user-comments').offset().top;
            $("html, body").animate({ scrollTop: commentsTop }, 1000);
        }
    });
</script>

<h4 style="color: #317eac;">Post Comments</h4>
@foreach (var comment in Model.Comments)
{
    <blockquote style="background-color: whitesmoke;">
        <p>@comment.Content</p>
        <small>
            PostedBy&nbsp;&nbsp;
            <strong style="color: #317eac;">
                @comment.CommenterName
            </strong>
            &nbsp;&nbsp;at&nbsp;&nbsp;
            <strong>
                @comment.PostedTime.ToString("yyyy/MM/dd HH:mm:ss")
            </strong>
        </small>
    </blockquote>
}