@model string

<p>Copyright (c) @DateTime.Now.Year <span class="blog-name">@Model</span>. All rights reserved. (Powered by the <a href="https://github.com/lei-zhu/iBlog" target="_blank">iBlog</a>)</p>