@model IEnumerable<iBlog.Domain.Entities.PostEntity>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">
            RECENT POSTS
        </h3>
    </div>
    <div class="list-group">
        @foreach (var post in Model)
        {
            var url = Url.RouteUrl("Post", new { year = post.PostYear, month = post.PostMonth, url = post.Url, status = string.Empty });
            var shortTitle = post.Title.Length > 25 ? string.Format("{0}...", post.Title.Substring(0, 25)) : post.Title;
            
            <a class="list-group-item" href="@url" style="font-family: 微软雅黑;" title="@post.Title">@shortTitle</a>
        }
    </div>
</div>