@model List<iBlog.Models.RecentComment>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">
            RECENT COMMENTS
        </h3>
    </div>
    <div class="list-group">
        @foreach (var comment in Model)
        {
            var url = comment.EntryType == 1 ? Url.RouteUrl("Post", new { year = comment.PostedTime.Year, month = comment.PostedTime.Month.ToString("00"), url = comment.PostUrl, status = string.Empty }) : Url.RouteUrl("Default", new { pageUrl = comment.PostUrl });
            <a class="list-group-item" href="@(url + "#user-comments")">@comment.Content</a>
        }
    </div>
</div>