@model List<iBlog.Models.RecentComment>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">
            RECENT COMMENTS
        </h3>
    </div>
    <div class="list-group">
        @foreach (var comment in Model)
        {
            <a class="list-group-item" href="\">@comment.Content</a>
        }
    </div>
</div>