<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            SITE OPTIONS
        </h3>
    </div>
    <div class="list-group">
        <a class="list-group-item" href="\">log in</a>
        <a class="list-group-item" href="\">dashboard</a>
        <a class="list-group-item" href="\">blog authors</a>
        <a class="list-group-item" href="\">post rss</a>
    </div>
</div>